body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

  .logo {
    width: 24px; /* Adjust size */
    height: auto;
    vertical-align: middle; /* Align with text */
    margin-right: 8px; /* Add space between logo and text */
}
